@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
  
.text-center {
    text-align: center;
}
  
.p-relative {
    position: relative;
}
  
.d-flex {
    display: flex;
}
  
.align-center {
    align-items: center;
}
  
.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-center{
    justify-content: center;
}
  
  /* navbar */
nav {
    padding: 20px;
    background-color: #F8FFFA;
    position: sticky;
    position: -webkit-sticky;
    z-index: 5;
}

.logo {
    width: 150px;
}
  
.wrapper {
    width: 1212px;
    margin: 0 auto;
}
  
.btn-nav {
    align-items: center;
    font-weight: bold;
}

.btn {
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 12px;
}

.btn-secondary {
    border: 2px solid #54BCA4;
    color: #54BCA4;
}
  
.btn-primary {
    color: #fff;
    background: #54BCA4;
}
  
nav ul {
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-weight: 600;
}
  
nav ul li {
    font-size: 16px;
    margin: 0 14px;
    list-style: none;
}
  
nav ul li a {
    text-decoration: none;
    color: #5f6d7e;
}

nav ul li a:hover {
    color: #54BCA4;
}


  /* button */

.mt-20{
    margin-top: 30px;
    margin-left: -2px;
    font-weight: 600;
}

.display-1 {
    font-size: 36px;
    width: 150%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 32px;
    padding: 10px 20px;
}

/* hero */

.container {
    padding: 20px;
    margin: 0 auto;
}

.container-fluid {
    box-sizing: border-box;
    width: 100%;
    padding: 3rem 9rem 2rem 9rem;
    background-size: cover;
}

.hero .container-fluid {
    padding: 4rem 10rem;
    color: #1A2C24;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.hero img {
    width: 60%;
    margin-left: 350px;
    margin-top: -40px;
}

.hero .desc {
    z-index: 1;
}

.desc h1 {
    font-size: 40px;
}

.desc h1 .color-primary {
    color: #54BCA4;
}

.desc p {
    font-size: 18px;
    color: #98A09C;
    margin-top: 20px;
    line-height: 32px;
    font-weight: 400;
}

.hero hr {
    margin: 10px auto;
    width: 1220px;
    border: none;
    border-bottom: solid 5px #C9D9D2;
    border-radius: 8px;
} 

/* article */

.title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #1A2C24;
}

.row {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    text-align: left;
    overflow: hidden;
    background-color: #C9D9D2;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.105);
    color: #1A2C24;
}

.card img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.card-content {
    flex: 1;
    padding: 15px 30px;
    line-height: 34px;
}

.card-content .category {
    font-size: 18px;
    font-weight: 600;
    color: #54BCA4;
}

.card-content .content {
    font-size: 18px;
    text-align: justify;
    color: #898E8C;
}

.card-content .more {
    color: #54BCA4;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    margin-left: 200px;
}

